---
---

#book {
	margin-top: -180px;
	margin-left: 50%;
	padding: 0px;
    img {
    	width: 500px;

    }
}
#scribbler {margin-left: 100%;

    img {
    	width: 40%;
    	right:0;
    }
}
#title {
	margin-top: 50px;
	margin-left: 20px;
    font-size: 4em;
    color: white;
}
#btn {

	margin-left: 20px;
    font-size: 4em;
    background: #416270;

}