---
---

$background_main: #597886;
$menu_background: #314E5A;

@import "bootstrap";
body {
  font-family: "Muli";
  overflow-x: hidden;
  padding-top: 55px;
  background: $background_main;
}

.bar {
  min-height: 800px;
  position: fixed;
  width: 16.6666666%;
  left: 0;
  margin-left: 0px;
  padding: 8px;
  padding-left: 10px;
  margin-top: 0px;
  background-color: $menu_background;
  font-family: "Muli";
  color: white;
  h1 {
      font-size: 2em;
      padding-left: 10px;
  }
  .course {
    margin: 0px;
    padding-left: 10px;
    h4 {
      font-size: 1.5em;
      padding: 6px;
      padding-left: 20px;
      border-radius: 20px;
    }
    &:hover {
      -webkit-animation: slide 1s;
      background-color: #18313B;
      cursor: pointer;
    }
    &.active {
      &:hover {
        background-color: #18313B;
      }
      background-color: #416270;
    }
  }
}
@-webkit-keyframes slide{
  from{background-color:$menu_background;}
  to{background-color:#18313B;}
}
@-webkit-keyframes slideB{
  from{right:-30px;}
  to{right:0px;}
}
#topics-bar {
  left: 16.6666667%;
  width: 16.6666667%;
  margin-left: 0px;
  padding-right: 2.5px;
  overflow-x: hidden;
  background-color: #416270;
  .topics {
    margin-right: 0px;
    padding-left: 0px;
    h4 {
      font-size: 1.5em;
      padding: 6px;
      padding-left: 20px;
      border-radius: 20px;
    }
    &:hover {
      background-color: #18313B;
      cursor: pointer;
    }
    &.active {
      &:hover {
        background-color: $background_main;
      }
      background-color: $background_main;
    }
  }
}

.nopad {
  padding: 0px;
}
.nopad2 {
  padding: 0px;
  padding-right: 10px;
}

.red {
  color: red;
}
.blue {
  color: blue;
}
#button{
  margin-bottom: 20px;
  margin-left: 10px;
}
.vote-buttons
{
  display: inline-block;
  .glyphicon {
    display: block !important;
  }
  .glyphicon-arrow-down {
    margin-top: 2px !important;
    padding-left: 1px !important;
  }
}
#resources-bar{
  color: black;
}
#h1, .h1{
  font-family: "Muli";
}
#white-box{
  font-family: "Muli";
  color: black;
  background: #79949F;
  border-radius: 10px;
  margin-bottom: 5px;
  box-shadow: 0 5 20px black;
  padding-bottom: 30px;
  padding-top: 10px;

  &:hover {
      -webkit-animation: slide 1s;
      background-color: #18313B;
      cursor: pointer;
    }
    &.active {
      &:hover {
        background-color: #18313B;
      }
      background-color: #416270;
    } 
}
#vote-btn{
  margin-top: 30px;
}
.resource-title {
  position: relative;
  top: 6px;
}
.ng-binding{
  color: white;
}
