---
---
$background_main: #597886;
$menu_background: #314E5A;

@import "bootstrap";
body {
  padding-top: 55px;
  background: $background_main;
}

.bar {
  min-height: 800px;
  margin-left: 0px;
  padding: 5px;
  padding-left: 30px;
  margin-top: 0px;
  background-color: $menu_background;
  color: white;
  h1 {
      font-size: 2em;
  }
  .course {
    margin-right: 5px;
    padding-left: 0px;
    border-radius: 2.5px;
    h4 {
      font-size: 1.5em;
      padding: 6px;
      border-radius: 20px;
    }
    &:hover {
      background-color: #416270;
      cursor: pointer;
    }
    &.active {
      &:hover {
        background-color: #18313B;
      }
      background-color: #18313B;
    }
  }
  .topics {
    background-color: #416270;
  }
}
.col-sm-3{
  margin: 0px;
  padding: 0px;
}

.red {
  color: red;
}
.blue {
  color: blue;
}

.vote-buttons
{
  display: inline-block;
  .glyphicon {
    display: block !important;
  }
  .glyphicon-arrow-down {
    margin-top: 2px !important;
    padding-left: 1px !important;
  }
}

.resource-title {
  position: relative;
  top: 6px;
}