<div class="row">
  <div class="col-sm-2">
    <div id="courses-bar">
      <h1>Your Courses</h1>
      <ul>
          <li ng-repeat="course in courses" ng-click='selectCourse(course)'>
            <h4>{{course.code}}</h4>
          </li>
      </ul>
    </div>
  </div>
  <div class="col-sm-2">
    <div id="topics-bar">
      <h1>{{selected_course.code}}</h1>
      <ul>
          <li ng-repeat='topic in selected_course.topics' ng-click='selectTopic(topic)'>
            <h4>{{topic.name}}</h4>
          </li>
      </ul>
    </div>
  </div>
  <div class="col-sm-8">
    <div id="resources-bar" class="row">
      <h1 style="display: inline-block;">{{selected_topic.name}} </h1>
      <button ng-click='openResourceModal()' class="btn btn-default" ng-show='selected_topic'>Add Resource</button>
      <ul class="list-unstyled">
          <li ng-repeat='resource in selected_topic.resources'>
            <div class="col-sm-1">
              <span class="vote-buttons">
                <div class="glyphicon glyphicon-arrow-up"></div>
                <div class="glyphicon glyphicon-arrow-down"></div>
              </span>
            </div>
            <div class="col-sm-11">
              <div class="resource-content" ng-bind-html='trust(resource.content)'>
              </div>
            </div>
            <div class="clearfix"></div>
          </li>
      </ul>
    </div>
  </div>
</div>