<div class="row">
  <div class="bar" id="courses-bar">
    <h1>Courses</h1>
      <div ng-repeat="course in courses" ng-click='selectCourse(course)' ng-class="{'active': course == selected_course}" class="course">
        <h4>{{course.code}}</h4>
      </div>
  </div>
  <div class="bar" id="topics-bar" ng-class="{'exist': selected_course}">
    <h1>{{selected_course.code}}</h1>
    <div class="topics" ng-repeat='topic in selected_course.topics' ng-click='selectTopic(topic)' ng-class="{'active': topic == selected_topic}">
      <h4>{{topic.name}}</h4>
    </div>
  </div>
  <div class="col-sm-8 col-sm-offset-4">
    <div id="resources-bar" class="row" ng-class="{'exist': selected_topic}">
      <h1 style="display: inline-block;">{{selected_topic.name}} </h1>
      <button ng-click='openResourceModal()' class="btn btn-default" ng-show='selected_topic'>Add Resource</button>
      <ul class="list-unstyled">
          <li ng-repeat='resource in selected_topic.resources|orderBy:"-points"'>
            <div class="col-sm-1">
              <span class="vote-buttons">
                <div class="glyphicon glyphicon-arrow-up" ng-click='vote(resource, 1)' ng-class="{'red': getVote(resource) == 1}"></div>
                <div class="glyphicon glyphicon-arrow-down" ng-click='vote(resource, -1)' ng-class="{'blue': getVote(resource) == -1}"></div>
              </span>
              <span>
                {{resource.points}}
              </span>
            </div>
            <div id="white-box" class="col-sm-11" ng-click='open(resource.content)'>
              <div class="resource-title">
                <h1 style="display: inline-block;">{{resource.title}}</h1>
              </div>
              <div class="resource-content" ng-bind-html='trust(resource.content)'>
              </div>
            </div>
            <div class="clearfix"></div>
          </li>
      </ul>
    </div>
  </div>
</div>